body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#searchInput {
    width: 300px;
    padding: 10px;
}

#searchButton {
    padding: 10px;
}

#results {
    margin-top: 20px;
    display: flex; /* Usa Flexbox para alinear los elementos en una fila */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola línea */
    gap: 20px; /* Espacio entre los elementos */
}

.result-item {
    text-align: center; /* Centra el texto debajo de la imagen */
    flex: 1 1 150px; /* Ajusta el tamaño de los elementos */
}

.result-item img {
    max-width: 100px;
    display: block; /* Asegura que la imagen esté centrada */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

#player {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#episodeControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
